---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: false
  BeforeWhile: false
BreakTemplateDeclarations: Yes
ColumnLimit: 160
CompactNamespaces: true
IndentPPDirectives: AfterHash
IndentWidth: 4
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: true
LineEnding: LF
PackConstructorInitializers: NextLineOnly
PointerAlignment: Left
Standard: c++17
TabWidth: 4
Language: Cpp
KeepEmptyLinesAtEOF: true
NamespaceIndentation: All
SortIncludes: CaseSensitive
AlignConsecutiveMacros:
  Enabled: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
SpaceBeforeCpp11BracedList: true

