# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Misc crap
*.DS_Store
*.swp
*.img
*.log
*.log.*
*.bak

kernel/obj
common/obj
userland/init/obj/
userland/runtime/obj
userland/fib/obj
userland/logger/obj
userland/primes/obj
userland/sleeper/obj




